.pokemonsPack{
    background-color: green;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.pokemonsPack div{
    margin: 10px;
    text-align: center;
    width: 100px;
    border: 1px solid black;
}